<h1>Bonjour ! Veuillez confirmer votre compte.</h1>

<p>
    Veuillez confirmer votre compte en cliquant sur le lien suivant :
    <br />
    <br />
    <a href="{{ prefix(app.request) }}/register/confirmation/{{ id }}/{{ token }}">Confirmer mon compte</a>.
</p>