<h1>Bonjour ! Réinitialiser votre mot de passe.</h1>

<p>
    Veuillez réinitialiser votre mot de passe en cliquant sur le lien suivant :
    <br />
    <br />
    <a href="{{ prefix(app.request) }}/reset-password/{{ id }}/{{ token }}">Réinitialiser mon mot de passe</a>
</p>