{% extends 'layouts/base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block main_content %}
    <p>Une erreur est survenue lors du traitement d'une tâche</p>
    <p>Tache concernée : <b>{{ message }}</b></p>
{% endblock %}

{% block btn %}
    <pre>
        <code>
            {{ trace }}
        </code>
    </pre>
{% endblock %}