{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe.{% endblock %}

{% block main_content %}Veuillez réinitialiser votre mot de passe en cliquant sur le lien suivant :{% endblock %}

{% block btn %}
    <a href="{{ prefix() }}/reset-password/{{ id }}/{{ token }}" style="color: white">Réinitialiser mon mot de passe</a>
{% endblock %}